html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  color: var(--black);
  font-family: var(--font-sans);
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

h1 {
  font-size: clamp(15px, 7vw, 30px);
}

h3 {
  font-size: clamp(15px, 7vw, 19px);
}
